<div class="card mt-5 w-md-50 w-100  mr-3 ">
  <div class="card-header">
    <h4>Login</h4>
  </div>
  <form class="" (ngSubmit)="login(data)" #data="ngForm">
    <div class="form-group mr-3 ml-3 mt-2">
      <label for="exampleDropdownFormEmail2">User Name</label>
      <input type="email" class="form-control" required name="username" [(ngModel)]="userModel.username"
        id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <div class="form-group  mr-3 ml-3">
      <label for="exampleDropdownFormPassword2">Password</label>
      <input type="password" name="password" required [(ngModel)]="userModel.password" class="form-control"
        id="exampleDropdownFormPassword2" placeholder="Password">
    </div>
    <div class="d-flex w-100 justify-content-end">
      <button type="submit" class="btn btn-primary mt-2 mr-3 mb-2">Sign in</button>
    </div>
  </form>
</div>
